POSTGRES_DB=wgs
POSTGRES_USER=wgs
POSTGRES_PASSWORD=changeme
REDIS_URL=redis://redis:6379/0
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=changeme-minio
MINIO_BUCKET=wgs-results
API_PORT=8000
FRONTEND_PORT=3000
WGS_COMPUTE_PROFILE=auto
WGS_PIPELINE_THREADS=
WGS_PIPELINE_EXECUTOR=api_thread
WGS_WORKER_PIPELINE_QUEUE_ENABLED=false
WGS_PIPELINE_JOB_QUEUE=wgs:pipeline:jobs
WGS_INPUT_MIN_FREE_GB=5
