manifest {
  name = 'wgs-cockpit-nextflow'
  version = '0.2.0'
}

params {
  input = null
  outdir = 'results/nextflow'
  reference_profile = 'GRCh38_standard'
  enable_fastp = false
  enable_alignment = false
  enable_coverage = false
  alignment_threads = 2
  coverage_threads = 2
  coverage_window_size = 1000000
  allow_dev_fallback = true
  enable_variant_calling = false
  variant_calling_threads = 2
  enable_variant_normalization = false
  variant_vcf = null
  taxonomy_route = 'human_wgs_host_depleted'
  taxonomy_low_mapq_threshold = 10
}


profiles {
  docker {
    process.container = 'ubuntu:24.04'
    docker.enabled = true
  }

  qc {
    params.outdir = 'results/qc'
    params.enable_fastp = true
  }

  alignment_coverage {
    params.outdir = 'results/alignment_coverage'
    params.enable_alignment = true
    params.enable_coverage = true
    params.allow_dev_fallback = false
  }

  dev_alignment_coverage {
    params.outdir = 'results/alignment_coverage_dev'
    params.enable_alignment = true
    params.enable_coverage = true
    params.allow_dev_fallback = true
  }

  variant_calling {
    params.outdir = 'results/variants'
    params.enable_alignment = true
    params.enable_variant_calling = true
    params.variant_caller = 'bcftools'
    params.allow_dev_fallback = false
  }

  dev_variant_calling {
    params.outdir = 'results/variants_dev'
    params.enable_alignment = true
    params.enable_variant_calling = true
    params.variant_caller = 'bcftools'
    params.allow_dev_fallback = true
  }

  gatk_variant_calling {
    params.outdir = 'results/variants_gatk'
    params.enable_alignment = true
    params.enable_variant_calling = true
    params.variant_caller = 'gatk'
    params.allow_dev_fallback = false
  }

  deepvariant_calling {
    params.outdir = 'results/variants_deepvariant'
    params.enable_alignment = true
    params.enable_variant_calling = true
    params.variant_caller = 'deepvariant'
    params.deepvariant_model = 'WGS'
    params.allow_dev_fallback = false
  }

  taxonomy {
    params.outdir = 'results/taxonomy'
    params.enable_taxonomy = true
    params.allow_dev_fallback = false
  }

  dev_taxonomy {
    params.outdir = 'results/taxonomy_dev'
    params.enable_taxonomy = true
    params.allow_dev_fallback = true
  }

  unknown_reads {
    params.outdir = 'results/unknown_reads'
    params.enable_unknown_reads = true
    params.allow_dev_fallback = false
  }

  dev_unknown_reads {
    params.outdir = 'results/unknown_reads_dev'
    params.enable_unknown_reads = true
    params.allow_dev_fallback = true
  }

  mtdna {
    params.outdir = 'results/mtdna'
    params.enable_alignment = true
    params.enable_mtdna = true
    params.allow_dev_fallback = false
  }

  sv_calling {
    params.outdir = 'results/sv'
    params.enable_alignment = true
    params.enable_sv_calling = true
    params.allow_dev_fallback = false
  }

  cnv_calling {
    params.outdir = 'results/cnv'
    params.enable_alignment = true
    params.enable_cnv_calling = true
    params.allow_dev_fallback = false
  }

  prs {
    params.outdir = 'results/prs'
    params.enable_alignment = true
    params.enable_variant_calling = true
    params.enable_prs = true
    params.allow_dev_fallback = false
  }

  full_pipeline {
    params.outdir = 'results/full'
    params.enable_alignment = true
    params.enable_coverage = true
    params.enable_variant_calling = true
    params.variant_caller = 'bcftools'
    params.enable_taxonomy = true
    params.enable_mtdna = true
    params.enable_sv_calling = true
    params.enable_cnv_calling = true
    params.enable_prs = true
    params.enable_unknown_reads = true
    params.enable_variant_normalization = true
    params.allow_dev_fallback = false
  }

  variant_normalization {
    params.outdir = 'results/variants'
    params.enable_variant_normalization = true
    params.allow_dev_fallback = false
  }

  dev_variant_normalization {
    params.outdir = 'results/variants_dev'
    params.enable_variant_normalization = true
    params.allow_dev_fallback = true
  }
}
